name: CI/CD to Railway

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build with Maven
        run: mvn -B package -DskipTests


      - name: Deploy to Railway
        uses: railwayapp/actions/deploy@v1
        with:
          token: ${{ secrets.RAILWAY_SECRET_KEY }}
          service: ${{ secrets.RAILWAY_SERVICE_ID }}

